<h1>{{name}} <!-- <<< String interpolation--></h1>

<ul>
  <li>Age: {{age}}</li>
  <li>{{address.street}} {{address.city}}, {{address.state}}</li>
</ul>

<button (click)="onClick()">Click Me!</button>
<button (click)="toggleEdit()">Edit User</button>

<div *ngIf=isEdit>
  <h1>Edit User</h1>
  <form>
    <div>
      <label for="name">Name: </label><br>
      <input type="text" [(ngModel)]="name" name="name"> <!--Two way data binding-->
    </div>
    <div>
        <label for="age">Age: </label><br>
        <input type="text" [(ngModel)]="age" name="age">
      </div>
  </form>
</div>
<h1>Hobbies</h1>
<form (submit)="addHobby(hobby.value)">
  <div>
    <label for="hobby">Hobby:</label>
    <input type="text" #hobby>
  </div>
</form>
<ul>
  <li *ngFor="let hobby of hobbies; let i = index">
    {{i+1}}: {{hobby}} <button (click)="deleteHobby(hobby)">x</button>
  </li>
</ul>

<h1>Posts</h1>
<div *ngFor="let post of posts">
  <h4>{{post.title}}</h4>
  <p>{{post.body}}</p>
</div>